body,
textarea,
input {
    font: 13px "Trebuchet MS", sans-serif;
}

.chat {
    max-width: 300px;
}

.chat-messages,
.chat textarea,
.chat-name {
    border: 1px solid #bbb;
}

.chat-messages {
    width: 320px;
    height: 300px;
    overflow-y: scroll;
}

.chat-name{
    width: 100%;
    padding: 10px;
    border-bottom: 0;
    margin: 0;
}

.chat textarea{
    width: 100%;
    padding: 10px;
    border-top: 0;
    margin: 0;
    max-width: 100%;
}

.chat-status{
    width: 100%;
    color: #bbb;
}

.chat textarea,
.chat-name {
    outline: none;
}

.chat-message {
    margin-bottom: 10px;
}